doctype html

html(lang="en")
  head
    link(href="/assets/css/main.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Fira+Mono", rel="stylesheet")
    
  body
    h1 Index
    ul
      li
        a(href="pages/L-System.html") L-System
      li
        a(href="pages/collisionCalculation.html") Collision Calculation
      li
        a(href="pages/Angles.html") Angles
