doctype html

html(lang="en")
  head
    // STYLES
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Fira+Mono", rel="stylesheet")
    link(href="/assets/css/main.css", rel="stylesheet")
    // CDN's
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.10/p5.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.10/addons/p5.dom.min.js")
    // LOCAL SCRIPTS
    script(src="../assets/js/angles/sketch.js")
    
  body
    h1 Angles
      a.backBtn(href="../") Back
