html {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif; }

body {
  padding: 50px;
  background: #eee; }

li {
  list-style: decimal-leading-zero; }

a {
  color: #386;
  text-decoration: none; }
  a.backBtn {
    font-size: 18px;
    display: inline-block;
    padding: 8px 25px;
    margin-left: 100px;
    background: #aaa;
    transform: translateY(-8px); }

.num {
  font-family: 'Fira Mono', monospace; }
